# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.acceptance.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Examples - exclude drafts but include published
examples/**/*.draft.ttl
examples/**/*.tmp.ttl
examples/**/temp/

# Metadata
examples/**/.DS_Store

# Zipped project file
cpsv-editor.zip

/tooling
